@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt,wght.ttf');
    font-weight: 500;
    font-style: normal;
} 

@font-face {
    font-family: 'TestSöhne';
    src: url('TestSöhne-Kräftig.otf');
} 



